streamlit==1.43.2
elasticsearch==8.17.2
dotenv
transformers==4.50.2
torch==2.6.0
torchvision== 0.21.0
torchaudio==2.6.0
sentencepiece==0.2.0
sacremoses==0.1.1
yfinance
tqdm
scrapy==2.12.0
psycopg2-binary
pandas==2.1.4
sqlalchemy
langchain
langchain_openai
tabulate